:root {
  --primary: blue;
  --bg: #fefefe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #000;
}

/* Navigation */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #ff8173;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .brand {
  font-size: 2rem;
  font-weight: 700;
  color: #000;
  font-style: italic;
}

.navbar .navigation a {
  color: #000;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
  transition: 0.3s;
}

.navbar .navigation a:hover {
  color: var(--primary);
}

/* Hero */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content .company-name {
  font-weight: 600;
}

.hero .content h1 {
  font-size: 4em;
  color: #000;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.hero .content h1 span {
  color: var(--primary);
}

.hero .content p {
  font-size: 1rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 300;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1rem;
  color: blue;
  background-color: transparent;
  border: 1px solid blue;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  transition: 0.6s;
}

.hero .content .cta:hover {
  color: #fff;
  background-color: var(--primary);
}

.hero img {
  width: 50%;
}

/* About Section */
.about {
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}

.about .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.about .content .company-name {
  font-weight: 600;
  opacity: 0.5;
}

.about .content h2 {
  font-size: 3em;
  font-weight: 100;
  color: #000;
  line-height: 1.2;
}

.about .content h2 span {
  color: var(--primary);
  font-weight: normal;
}

.about .content p {
  font-size: 1rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 300;
}

.about img {
  padding: 1.4rem 7%;
  max-width: 40rem;
}

/* Services Section */
.services {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.services .content {
  padding: 1.4rem 7%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.services .content .card {
  flex: 1 1 30%;
  max-width: 30%;
  text-align: center;
  padding: 2rem 0;
}

.services .content .card .card-icon {
  font-size: 3rem;
  color: var(--primary);
}

.services .content .card h2 {
  font-weight: normal;
}

.services .content .card p {
  font-weight: 300;
}

/* Our Clients Section */
.our-clients {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.our-clients .content {
  padding: 1.4rem 7%;
  display: flex;
}

.our-clients .content .text-wrapper {
  max-width: 50%;
  padding: 3rem;
}

.our-clients .content .text-wrapper h3 {
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  opacity: 0.5;
}

.our-clients .content .text-wrapper h2 {
  font-size: 2.6em;
  font-weight: 100;
}

.our-clients .content .text-wrapper h2 span {
  font-weight: normal;
  color: var(--primary);
}

.our-clients .content .testimony-card {
  max-width: 50%;
  padding: 3rem;
  background-color: white;
  box-shadow: 5px 5px 5px 5px lightgray;
  position: relative;
  text-align: center;
}

.testimony-card img {
  width: 25%;
  position: absolute;
  top: -25%;
  left: 37.5%;
  border-radius: 50%;
}

.testimony-card h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.testimony-card .project {
  font-size: 0.8rem;
  color: var(--primary);
  margin-bottom: 1rem;
}

/* Projects Section */
.projects {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.projects .content {
  padding: 1.4rem 7%;
}

.projects .content h2 {
  text-align: center;
  font-size: 2.6em;
  font-weight: normal;
}

.projects .content p {
  text-align: center;
}

.projects .content .gallery {
  margin-top: 1.5rem;
  display: flex;
}

.gallery .project {
  max-width: 33%;
  position: relative;
}

.gallery .project img {
  width: 100%;
}

.gallery .project .text-hover {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  align-items: center;
  color: #fefefe;
}

.project:hover .text-hover {
  opacity: 0.8;
}

/* Contact Section */
.contact {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact .content {
  padding: 1.4rem 7%;
  text-align: center;
}

.contact .content h2 {
  font-size: 2.5em;
  font-weight: 300;
}

.contact .content h2 span {
  font-weight: normal;
  color: var(--primary);
}

.contact .content .whatsapp {
  display: block;
  padding: 1rem 1rem;
}
